<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class='col-xs-3'> 
			<%= link_to root_path, :class => 'logo' do %>
				<div class="circle">
				  <br />
				  You know 
				  <br />
				  you're into 
				  <br />
				  Star Wars
				</div>
			<% end %>
		</div>
		<div class="col-xs-4 slogan">
			Reassuring you that it is just a moon since 2015
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', new_quote_path %>
			<%= link_to 'About', '#' %>
		</div>

	</header>
	<hr />
	<br class="clear" />

<div class="container">
	<%= yield %>
</div>

<div class= "footer">
	<div class= "container">
		<div class= "col-xs-6">
			<%= link_to "This isn't enough, I need more", root_path, :class => 'next-quote'%>
		</div>
		<div class= "col-xs-6 footer-blurb" >
			Cobbled together near Detroit, MI by <a href="http://NehemiahAndrews.github.io"> Nehemiah Andrews </a><br />
			Learn to build your own Splurty web app <a href="http://thefirehoseproject.com">@theFirehoseProject </a>

		</div>
</div>

</body>
</html>
